@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.twittericon {
   background-image: url('images/twitter-icon-black.png');
   height: 160px;
   width: 160px;
   margin-bottom: 10px;
   display: block;

}

.twittericon:hover {
   background-image: url('images/twitter-icon-blue.png');

}


/*social icons start here*/

/*twitter*/

.twitter img {
  height: 40px;
  width: 40px;
}

.twitter img:last-child {
  display: none;
}

.twitter:hover img:first-child {
  display: none;
}

.twitter:hover img:last-child {
  display: inline-block;
}

/*facebook*/

.facebook img {
  height: 40px;
  width: 40px;
}

.facebook img:last-child {
  display: none;
}


.facebook:hover img:first-child {
  display: none;
}

.facebook:hover img:last-child {
  display: inline-block;
}


/*mail*/

.mail img {
  height: 40px;
  width: 40px;
}

.mail img:last-child {
  display: none;
}


.mail:hover img:first-child {
  display: none;
}

.mail:hover img:last-child {
  display: inline-block;
}

.everything {
  /*background-color: #c5d8e6;*/
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;

  /*margin-left: 65px;
  margin-right: 100px;*/
}

@media screen and (max-width: 700px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.navbar-brand>img {
  width: 200px;
  margin-top: -78px;
}

.navbar, .navbar-inverse {


}
.navbar-inverse .navbar-nav>li>a {
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  /*margin-left: 0px;
  margin-right: 0px;*/
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;

}

p, h3 {

  font-size: 18px;
  margin: 0 0 10px;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 30px;
}

h4 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

h5 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

.picboth {
  height: 300px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


@media screen and (max-width: 700px) {
  .picboth {
    height: 110px;
    width: 390px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.picred {
  height: 300px;
  width: 500px;
  /*margin-left: 40px;*/
}

.pic {
  /*margin-left: 20px;*/
  height: 300px;
  width: 500px;
}

@media screen and (max-width: 700px) {
.picred, .pic {
  height: 100px;
  width: 100px;

}
}

div.soci {
  margin-top: 20px;
}
.twitterblue {
  width: 30px;
  margin-left: 450px;
  margin-top: 2px;
  display: block;
}

.facebookblue {
  width: 37px;
  margin-left: 150px;
  margin-top: -4px;
  display: block;
}

.mailblue {
  width: 30px;
  margin-left: -150px;
  display: block;
}

@media screen and (max-width: 700px) {
 .twitterblue{
   margin-left: 100px;
   display: block;
 }
 .facebookblue {
   margin-top: -4px;
   margin-left: 40px;
   width: 35px;
   display: block;
 }
 .mailblue {
   margin-left: -5px;
   display: block;
 }
}

.twitterblack {
  width: 30px;
  margin-left: 450px;
  margin-top: 2px;
  display: block;
}

.facebookblack {
  width: 37px;
  margin-left: 150px;
  margin-top: -4px;
  display: block;
}

.mailblack {
  width: 30px;
  margin-left: -150px;
  display: block;
}

@media screen and (max-width: 700px) {
  .twitterblack{
    margin-left: 100px;
    display: block;
  }
  .facebookblack {
    margin-top: -4px;
    margin-left: 40px;
    width: 35px;
    display: block;
  }
  .mailblack {
    margin-left: -5px;
    display: block;
  }
}
.img {
  width: 30px;
}

div.standout {
  background-color: #87a7c4;
}

div.chart2 {
  height: 300px;
}
div.standout2 {
  background-color: #87a7c4;
  margin-left: -10px;
}

@media screen and (max-width: 700px) {
  div.standout{
    margin-left: 50px;
    margin-right: 50px;
  }
  div.standout2 {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.issue {
  border-bottom: 2pt solid black;
}

.datatab {
  border-top: 2pt solid black;
}
/*.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('icon_top.png') no-repeat;
}*/
a {
  color: #e60045;
}
a:hover {
  color: #528fcc;
}
